.icon-bar {
    display: block;
    width: 44px;
    height: 4px;
    border-radius: 1px;
    background: #fff;
    margin-bottom: 7px;
}


.breadcrumb {
    margin: -12px 0 0;
    img {
	    position: relative;
	    top: 6px;
	    padding: 0 10px;
	}
}

.toggle-container {
    float: right;
    margin: 32px 30px 0 0;
}

.nav-primary .genesis-nav-menu a {
    font-size: 20px;
    padding: 26px 19px;
}

.nav-primary .genesis-nav-menu li:first-child a {
    padding-left: 0;
}


@media (max-width: 768px) {
	.genesis-nav-menu .menu-item, #nav_menu-2 {
	    width: 100%;
	}

	#menu-top-menu li {
		padding: 11px 0px;
    	width: 49%;
	}

	#menu-top-menu a {
	    padding: 8px 18px;
	    width: 100%;
	    text-align: center;
	}

	.genesis-nav-menu a {
	    padding: 14px 15px;
	    border-bottom: 1px solid #333;
	}

	.widget-area.header-widget-area,#menu-main {
		display: none;
	}
	
}

